body {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  background: white;
  color: #2d334a;
}

body a {
  text-decoration: none;
  color: #ffd803;
}

#title {
  font-family: Roboto;
  color: #272343;
}

.column {
  margin: 0px 50px 0px 50px;
  column-count: 3;
  column-gap: 30px;
  column-rule-style: dashed;
  column-rule-width: 1px;
  column-rule-color: grey;
  height: 100%;
  /*column-width if things get bad */
  /* column-span: initial; goes for elements */
}

.info {
  text-align: left;
}

.info b {
  color: grey;
}

.box {
  background: #e3f6f5;
  padding: 20px;
  margin: 10px;
  border: 3px solid #bae8e8;
  border-radius: 5px;
  color: #2d334a;
  font-size: 40px;
  text-align: center;
}

#createaccount {
  background-color: #bae8e8;
  padding: 15px;
  font-size: 30px;
  border-radius: 5px;
  font-family: Roboto;
  color: #2d334a;
}

#createaccount:hover {
  background-color: #e3f6f5;
  transition: 1s;
}
